
:root{
  --back-color-principal :rgb(122,220,180);
  --back-color-secondaire:#ffffff;
  --back-color-tertiaire:#000000;
  --back-color-btn:green;

  
}

body {
    display: flex;
     margin: 0;
     font-family: Arial, sans-serif;
     height: 100vh;
     
   }
 
   .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
     width: 800px;
     display: flex;
     margin: 0 auto;
     /* justify-content: space-around; */
   }
 
   .form {
     display:flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
   }

   .myform {
    background-color:var(--back-color-principal);
    padding-bottom: 15px;
    border-radius: 20px;
    min-width: 400PX;
    
    
    
  }
   

   .waviy {
    margin-left: 33%;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    margin-bottom : 10px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

   
   
   input , select{
     width: 300px;
     margin-left: 15%;
     display: flex;
     border: none;
     border-radius: 10px;
     height: 25px;
     padding: 10px;
     

     
   }

   input:invalid {
    border: 1px solid red;
}

   select{
    width: 318px;
    padding: 10px;
    display: flex;
    border: none;
    border-radius: 10px;
    height: 40px;
  }

  select:invalid {
    border: 1px solid red;
}

  label{
    font-weight: bold;
    margin-left: 15%;
  }

   
   
   .btn {
     background-color: transparent;
     border: none;
     cursor: pointer;
     position: relative;
     margin: 0 140px;
     height: 50px;
     width: 150px;
     display: block;
     background-color: var(--back-color-btn);
     border-radius: 30px;
     text-decoration: none;
     color: var(--back-color-secondaire);
     font-size: 18px;
     text-transform: uppercase;
     letter-spacing: 1px;
     overflow: hidden;
     box-shadow: 0 4px 15px var(--back-color-tertiaire);
   }
  
 
 .delete{
    width: 100px;
    height: 30px;
    border-radius: 25px;
    border: 2px solid rgb(231, 50, 50);
    background-color: var(--back-color-secondaire);
    cursor: pointer;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: .3s;
    margin-left: 5px;
   }
 
   .delete:hover {
    background-color: var(--back-color-secondaire);
    transform: scale(1.2);
    box-shadow: 0 0 4px var(--back-color-tertiaire);
    transition: .3s;
}

/* Style du tableau */
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--back-color-secondaire);
    margin-top: 20px;
}
.table-container{
  max-height: 150px;
  overflow-y: scroll;
    
    
   
}

/* Style des cellules de l'en-tête */
th {
    background-color: var(--back-color-principal);
    border: 1px solid var(--back-color-secondaire);
    padding: 8px;
    text-align: left;
}

/* Style des cellules du corps du tableau */
td {
    border: 1px solid var(--back-color-principal);
    padding: 8px;
    max-width: 200px;
    
    /* word-wrap: break-word; */
}


.popup {
  display: none;
  position: fixed;
  top: 7%;
  left: 85%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: var(--back-color-principal); 
  border: 1px solid var(--back-color-principal);
  padding: 20px;
  box-shadow: 0 0 10px var(--back-color-secondaire);
  font-weight: bold;
  opacity: 0.9; /* Opacité de la fenêtre contextuelle */
  width: 200px;
  color: #ffffff;
  }

 
  
@media screen and (max-width:650PX){
  
.table-container{
  max-width: 380px;
  overflow: scroll;
  max-height: 200px;
  overflow-y: scroll;
}

.container{
  max-width: 350px;
}

  .myform{
    width: 350px;
  }
 .form{
  margin-left: 0;
 }
 label{
  margin-left: 10;
 }
}